
*{
    padding: 0;
	margin: 0;
	box-sizing: border-box;
    font-family: 'Public Sans', sans-serif;
    font-weight: 300;
}

body{
    background-color: blueviolet;
}


.nav-bar{
	width:100%;
	height:70px;
	background-color: white;

	display:flex;
	flex-direction: row;
	align-items:center;
	justify-content:center;
	justify-content: space-between;

}

.logo-img{
	float: left;
	margin-left: 8%;
}

.nav-items{
	display: inline-flex;
	
	
}
.nav-items a{     text-decoration: none; 
	color: lightslategray;

}
  .nav-items a:hover
  { color: hsl(233, 26%, 24%);
	transition-duration: color 0.5s border 0.4s;
	border-bottom: 6px solid hsl(192, 70%, 51%);
}

div[id*='nav-items-']{
	margin-right: 28px;
	color: lightslategray;
}
#request-button{
	display: block;
	cursor: pointer;
  border-radius: 50px;
  padding: 15px 20px;
  border: transparent;
  background: linear-gradient(to right,
      hsl(136, 65%, 51%),
      hsl(192, 70%, 51%));
  font-size: 13px;
  color: hsl(0, 0%, 100%);
  text-transform: capitalize;
}
button:hover {
	opacity: 0.7;
	transition-duration: 0.5s;
	cursor: pointer;
}
/*desige nav for phone */ 

.nav-bar-items-mobile{
	display: none;
	margin-right: 30px;
}

.check_box {
	display:none;
}

.check_box + label {
	background:url('./images/icon-hamburger.svg') no-repeat;
	height: 16px;
	width: 16px;
	display:inline-block;
	padding: 0 0 0 0px;
}



.check_box:checked + label{
	background:url('./images/icon-close.svg') no-repeat;
	height: 16px;
	width: 16px;
	display:inline-block;
	padding: 0 0 0 0px;
	
}



.nav-mobile-items{
	

	width: 80%;
	height: auto;
	position: absolute;
	left: 50%;
	margin-left: -40%;
	top: 150px;
	margin-top: -50px;
	background-color: white;
	border-radius: 10px;
	text-align: center;
	font-size: large;
}


.check_box ~ .nav-mobile-items{

	display: none;
}

.check_box:checked ~ .nav-mobile-items{

	display: inline-block;
}

.check_box:checked ~ .shadow{
	width: 100%;
    height: 100%;
    position: fixed;
    background-color: black;
    top: 70px;
    right: 0;
    opacity: 0.2;
}
	

div[id*='nav-mobile-items-']{
	margin:20px;
}

@media only screen and (max-width: 660px) {
	.nav-bar{
		position: fixed;
	}
	#request-button{
	display: none;
	}
	.nav-items{
		display: none;
	}

	.nav-bar-items-mobile{
		display: inline-block;
	}
}

.first-part{
	direction: rtl;
	background-color: rgb(249, 249, 249);
	position:relative ;

	}

.first-img{
	z-index: 100;
	position: inherit;
	display: inline-block;
	width: 60%;
	height: 781px;
	background-image:  url(./images/image-mockups.png),
					  url(./images/bg-intro-desktop.svg);		  
	background-position: 221px -120px,
						 47px -258px;
	background-repeat: no-repeat;
	}
.first-text{
	width: 30%;
	height: auto;
	display: inline-block;
	top: 175px;
	text-align: end;
	position:absolute; 
}

.first-head-text h1{
	font-size: 50px;
    color: #0f2c4a;
	margin-bottom: 30px;

}

.first-text-p {
	margin-top: 18px;
	color: #b9b9b9;
	font-size: 21px;
	line-height: 1.4;
	margin-bottom: 25px;

}

.first-text-button{
	display: inline-block;
	cursor: pointer;
  border-radius: 55px;
  padding: 15px 50px;
  border: transparent;
  background: linear-gradient(to right,
      hsl(136, 65%, 51%),
      hsl(192, 70%, 51%));
  font-size: 20px;
  color: hsl(0, 0%, 100%);
  text-transform: capitalize;
}
.first-text-button:hover{
	opacity: 0.7;
	transition-duration: 0.5s;
	cursor: pointer;
}

@media only screen and (max-width: 660px) {
	.first-part{
		position: static;

	}
	.first-img{
		width: 100%;
		height: 289px;

		background-image: none;
		background:url(./images/image-mockups.png),url(./images/bg-intro-mobile.svg);
		background-position:90px -62px,80% -5px;
		background-size: 333px 403px, auto;
		background-repeat: no-repeat;
		
	}

	.first-text{
		width: 100%;
		position: static;
		display: inline-flex;
		flex-direction: column;
		align-items: center;
		text-align: center;
		margin-top: 35px;
		margin-bottom: 100px;
	}

	.first-text-p{
		margin-left: 25px;
		margin-right: 25px;
	}
}



.why-easy{
	width: 100%;
    background-color: #efefef;
    position: absolute;
    top: 764px;
    right: 0;
}

.why-easy h4{
	color: #333333	;
	font-size: 33px;
	margin-bottom: 15px;
	margin-left: 9%;
    margin-top: 100px;
}

.why-easy p{
	color: #9E9E9E;
	font-size: 20px;
	margin-left: 9%;

}

.why-esasy-{
	margin-top: 60px;
	margin-bottom: 100px;
    display: flex;
    justify-content: center;
	text-align: left;
	margin-left: 8%;
    margin-right: 6%;
}

#why-esasy-im{
    margin-bottom: 30px;
}
#why-esasy-h{
	color: #403939;
	margin-top:30px;
    margin-bottom: 20px;
    font-size: 20px;
}
#why-esasy-p {
	margin-left: 0;
    font-size: 18px;
}

@media only screen and (max-width: 660px){
	.why-easy{
		position: static;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
	.why-easy p{
		text-align: center;

	}

	.why-esasy-{
		margin-top: 50px;
	flex-direction: column;
text-align: center;
	flex-direction: column;
}

}


.latest-part{
	background-color:rgb(249, 249, 249) ;
	width: 100%;
	height: auto;
    position: absolute;
	left: 0;
    margin-top: 470px;
    margin-bottom: -270px;;
}

.latest-part h1{
	color: #403939;
	margin-top: 100px;
	margin-bottom:60px;
	margin-left: 8%;

}

.items{
	margin-bottom: 80px;
    display: flex;
    justify-content: center;
	align-items: center;
	margin-right: 8%;
	margin-left: 8%;


}
div[class*='items-']{
	text-align: center;
	margin-right: 35px;
	margin-bottom: 50;

}
div[class*='items-'] img{
	width: 100%;
	border-radius: 10px;
	height:250px;

}
.Text{
	background-color: white;
	color: #9E9E9E;
    text-align: start;
	width: 100%;
	box-sizing: border-box;
    padding: 22px;
}

.Text h3:hover {
	cursor: pointer;
	color: hsl(192, 70%, 51%);
}

.Text h4{
	color: grey;
    margin-bottom: 12px;
    font-size: 10px;
}
.Text h3{
	color: #32302d;
    font-size: 24px;
    margin-bottom: 14px;
}
.Text p{
	color: #9E9E9E;
    margin-left: 0;
	font-size: 18px;

}

@media only screen and (max-width: 660px){
	.latest-part{
		position: static;
	}

	.items{
		margin-top:100px;
		position: static;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		margin-right: 0;

	}
}
footer {
    background-color: hsl(233, 26%, 24%);
    color: hsl(0, 0%, 100%);
    padding: 40px 35px 35px 45px;
    display: flex;
    justify-content: space-between;
}
.t {
	box-sizing: border-box;
	margin-left:35px;
	background-color: antiquewhite;
	margin-left: 180px;

}
footer a {
    text-decoration: none;
    color:  hsl(0, 0%, 100%);
    font-weight: 300;
	font-size: 18px;
	
}

#Links {
	padding: 40px 45px 32px 40px;
	margin-left: 150px;

}

.Link {
	padding: 10px;
	
}

#eLinks {
	display: flex;
	gap: 300px;
	text-align: center;
	line-height: 50px;
	margin-right:350px;
	flex-direction: row;
}

footer a:hover {

    color: hsl(192, 70%, 51%);
} 

footer button {
	margin-bottom: 20px;
	margin-left: -190px;
	margin-right: 90px;
	cursor: pointer;
  border-radius: 70px;
  padding: 15px 50px;
  border: transparent;
  background: linear-gradient(to right,
      hsl(136, 65%, 51%),
      hsl(192, 70%, 51%));
  font-size: 20px;
  color: hsl(0, 0%, 100%);
}

#copyright {
	margin-left: -190px;
    font-size: 14px;
    color: hsl(233, 8%, 62%);
}

@media only screen and (max-width: 660px){
	.footer{
		width: 100%;
		padding-top: 20px;
		position: static;
		flex-direction: column;
		justify-content: center;
		align-items:center;
	}	
	.t{
		margin-top:40px;
		flex-direction: column;
		margin-left:50px;
	}
	#eLinks{
		justify-content: center;
		flex-direction: column;
		text-align: center;
margin-top:8px;
line-height:40px;
font-weight:50px;
	}
	#Links
	{	margin-top: 3px;
		flex-direction: column;
		margin-left:20px;
		height:30px;
	}
#B{
	margin-top: 20px;
	margin-left: 20px;
	margin-bottom: 20px;

}
	#copyright{
		margin-left: 20px;
    	margin-right: 0;

	}
	
}


.col{
    display: inline-block;
}

.span_12_of_12 {
	width: 100%;
}

.span_11_of_12 {
	width: 91.53%;
}

.span_10_of_12 {
	width: 83.06%;
}

.span_9_of_12 {
	width: 74.6%;
}

.span_8_of_12 {
	width: 66.13%;
}

.span_7_of_12 {
	width: 57.66%; 
}

.span_6_of_12 {
	width: 49.2%; 
}

.span_5_of_12 {
	width: 40.73%; 
}

.span_4_of_12 {
	width: 32.26%; 
}

.span_3_of_12 {
	width: 23.8%;
}

.span_2_of_12 {
    width: 15.33%;
     
}

.span_1_of_12 {
	width: 6.86%; 
}

